/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}
$green: #498a36;
$greenHover: #88c862;
$main: #1a202c;

//========================================================================================================================================================

body,
html {
  height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  background: rgb(246, 246, 246);
  color: $main;
}

.header {
  margin: 0 0 20px 0;
  // .header__main
  &__main {
    display: flex;
    align-items: center;
  }
  // .header__back
  &__back {
    padding: 12px 0 12px 8px;
    svg {
      width: 24px;
      height: 24px;
    }
  }
  // .header__logo
  &__logo {
    height: 48px;
    padding: 8px 0;
    margin: 0 auto;
  }
  // .header__line
  &__line {
    overflow: hidden;
    position: relative;
    background: #e6ecce;
    height: 8px;
  }
  &__progress {
    height: 100%;
    background: $green;
  }
  &__start {
    margin: 20px 0 0 0;
    padding-bottom: 8px;
    .header__back {
      display: none;
    }
    .header__line {
      display: none;
    }
    .header__logo {
      padding: 0;
      height: 32px;
    }
  }
}

//========================================================================================================================================================

.content {
  // .content__container
  &__container {
    max-width: 568px;
    padding: 16px;
    margin: 0 auto;
    width: 100%;
  }
  // .content__step
  &__step {
    &:has(.content__step-story, .content__step-graph) {
      .content__step-button {
        padding: 8px 20px;
      }
    }
    &.content__step-last {
      .content__step-title {
        margin-bottom: 20px;
      }
    }
  }

  // .content__step-1
  &__step-1 {
  }
  &__step-title {
    line-height: 1.2;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    &-h3 {
      font-size: 20px;
      text-align: left;
      font-weight: 700;
      line-height: 1.2;
    }
    &-h4 {
      font-size: 16px;
      text-align: center;
      font-weight: 400;
      line-height: 1.2;
      margin-bottom: 8px;
    }
  }
  &__step-subtitle {
    text-align: center;
    margin-top: 20px;
  }
  // .content__step-wrap
  &__step-wrap {
    margin-top: 20px;
    &:has(.content__step-button-half) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;
    }
  }
  // .content__step-button
  &__step-button {
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    outline: none;
    width: 100%;
    line-height: 1.2;
    border-radius: 6px;
    font-weight: 600;
    padding: 32px;
    color: #fff;
    font-size: 16px;
    background: $green;
    transition: background 0.3s;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
    @media (any-hover: hover) {
      &:hover {
        background: $greenHover;
      }
    }
    &:has(.content__step-button-img) {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: 0;
      padding: 16px;
    }
  }
  // .content__step-story
  &__step-story {
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  // .content__step-story-title
  &__step-story-title {
    padding: 8px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    background: $green;
  }
  // .content__step-story-subtitle
  &__step-story-subtitle {
    font-weight: 700;
    padding: 12px;
    font-size: 16px;
  }
  // .content__step-story-img
  &__step-story-img {
  }
  // .content__step-story-text
  &__step-story-text {
    padding: 8px;
    font-size: 16px;
  }
  &__step-graph {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  &__step-loader-title {
    text-align: center;
  }

  &__step-loader-progress {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #f0f1f4;
    margin-top: 20px;
    &::before {
      content: "";
      position: absolute;
      background-color: $green;
      top: 0px;
      left: 0px;
      height: 20px;
      width: 0px;
      z-index: 0;
      opacity: 1;
      -webkit-transform-origin: 100% 0%;
      transform-origin: 100% 0%;
      -webkit-animation: loader 3s ease-in-out infinite;
      animation: loader 3s ease-in-out infinite;
    }
  }
  &__step-last-graph {
    width: 100%;
    margin-bottom: 40px;
  }
}

.hidden {
  display: none;
}

@-webkit-keyframes loader {
  0% {
    width: 0px;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes loader {
  0% {
    width: 0px;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

//========================================================================================================================================================

.content {
  // .content__offer
  &__offer {
    background: #e6ecce;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 20px;
  }
  // .content__offer-logo
  &__offer-logo {
    height: 40px;
    margin-bottom: 12px;
  }
  // .content__offer-title
  &__offer-title {
    font-size: 36px;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 16px;
  }
  &__offer-product {
    max-width: 312px;
    width: 100%;
    margin: 0 auto;
  }
  // .content__offer-subtitle
  &__offer-subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 12px;
  }
  // .content__offer-list
  &__offer-list {
    margin-bottom: 20px;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      &::before {
        content: "✓";
        color: $green;
      }
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
  // .content__offer-price
  &__offer-price {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5;
  }
  // .content__offer-price-text
  &__offer-price-text {
    font-size: 14px;
    margin-bottom: 20px;
  }
  // .content__offer-price-full
  &__offer-price-full {
    font-size: 14px;
  }
  &__offer-reviews {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    line-height: 1.5;
  }
  &__offer-reviews-number {
    text-align: center;
    font-size: 60px;
    line-height: 1.5;
  }
}
.orange-button {
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  outline: none;
  line-height: 1.2;
  border-radius: 6px;
  font-weight: 600;
  padding: 18px;
  color: #fff;
  font-size: 16px;
  background: #eb731a;
  transition: background 0.3s;
  width: 50%;
  margin: 0 auto;
  @media (any-hover: hover) {
    &:hover {
      background: #88c862;
    }
  }
}

//========================================================================================================================================================

.content {
  // .content__offer-testimonials
  &__offer-testimonials {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  // .content__offer-testimonials-item
  &__offer-testimonials-item {
    border: 1px solid #e2e8f0;
    border-radius: 6px;
    padding: 20px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  // .content__offer-testimonials-header
  &__offer-testimonials-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // .content__offer-testimonials-left
  &__offer-testimonials-left {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  // .content__offer-testimonials-name
  &__offer-testimonials-name {
    font-weight: 700;
    font-style: 16px;
  }
  // .content__offer-testimonials-stars
  &__offer-testimonials-stars {
  }
  // .content__offer-testimonials-right
  &__offer-testimonials-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;
  }
  // .content__offer-testimonials-data
  &__offer-testimonials-data {
    display: flex;
    gap: 4px;
    font-size: 14px;
  }
  // .content__offer-testimonials-dynamic
  &__offer-testimonials-dynamic {
  }
  // .content__offer-testimonials-verified
  &__offer-testimonials-verified {
    font-size: 12px;
    color: #22543d;
    background: #c6f6d5;
    font-weight: 700;
    border-radius: 2px;
    text-transform: uppercase;
    padding: 0 4px;
  }
  // .content__offer-testimonials-text
  &__offer-testimonials-text {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e2e8f0;
    font-size: 16px;
    line-height: 1.5;
  }
  &__offer-testimonials-stars {
    display: flex;
    align-items: center;
    gap: 4px;
    svg {
      width: 12px;
      height: 16px;
    }
  }
}
